
body {

    font-size: 1em;
    color: rgb(255, 255, 255);
    background: #e70dd5;

}

.current {
    background: #fff url('./img/fire.gif') no-repeat center;
    background-size: 4vw;
    color: blue;
}

header#main-header {
    text-align: center;
    line-height: 1.3em;
    border-top: blueviolet 2px dashed;
    border-bottom: blueviolet 2px dashed;
    display: grid;
    grid-template-columns: auto auto;
}
header#main-header div {
    font-size: 1.3em;
    font-family: Srisakdi, Sevillana, Sofia, Damion, 'Dancing Script', Engagement, 'La Belle Aurore', Parisienne, Satisfy, Seaweed, 'Aguafina Script', 'Alex Brush', Allura, Arizonia, 'Bad Script', 'Beth Ellen', Charm, Bilbo, Bonbon, 'Bilbo Swash Caps', Calligraffitti, Charmonman, 'Clicker Script', Condiment;
    background: url('./img/flower007.gif') no-repeat;
    background-size: 60%;
    margin-left: 2vw;
}

nav ul li a {

    text-decoration: none;
    color: inherit;
    
    
}

nav#main-nav ul{

    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 1.5em;
    
}

nav#child-nav ul{

    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: space-around;
    align-items: center;
    margin-left: 1.3vw;
    list-style: none;
    font-size: 1.4em;
}

main#main {
    width: 100%;
    overflow-x: hidden;
    margin-bottom: 1vh;
}
main#main h3.hdr-content {

    text-align: center;
    background: #970e80;
    color: #ffffff;
    padding: 2vh 0 2vh 0;
    line-height: 1.3em;
    border-radius: 2em;

}
main#main div.row div.col{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0;
    padding:0;
    width: 100%;
}

main#main div.row div.col div{
    padding-left: 2%;
    padding-bottom: 5%;
}
main#main div.row div.col img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

div.row div.col img:hover {

    cursor: pointer;
}



footer {
    text-align: center;
    font-size: 1.5em;
    border-top: #870f97 8px double;
    border-bottom: #870f97 2px dashed;
    background: #6e0755;
}


/* 
 *MEDIA QUERIES
 *
 */

 @media (max-width: 320px) {

    header#main-header hgroup h1, header#main-header hgroup h1 {
        line-height: 1.2em;
    }
    nav#child-nav ul{

        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        font-size: 1.0em;
        
    }
    nav#child-nav ul li {
        padding-bottom: 1.5vh;
    }

    main#main div.row div.col{
        display: grid;
        grid-template-columns: auto auto;
        margin: 0;
        padding:0;
        width: 100%;
    }
 }

 @media (max-width: 480px) {

    nav#child-nav ul{

        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        align-items: center;
        margin-left: 0.2vw;
        margin-right: 1.6vw;
        
        list-style: none;
        font-size: 1.2em;
        
    }
    nav#child-nav ul li {
        padding-bottom: 1.5vh;
    }

    main#main div.row div.col{
        display: grid;
        grid-template-columns: auto auto;
        margin: 0;
        padding:0;
        width: 100%;
    }
 }

 @media (max-width: 780px) {

    nav#child-nav ul{

        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-between;
        align-items: center;
        margin-left: 0.2vw;
        margin-right: 1.6vw;
        
        list-style: none;
        font-size: 1.2em;
        
    }
    nav#child-nav ul li {
        padding-bottom: 1.5vh;
    }

    main#main div.row div.col{
        display: grid;
        grid-template-columns: auto auto;
        margin: 0;
        padding:0;
        width: 100%;
    }
 }
